/t_bot_rifatto/JsonParser/nbproject/private/
/t_bot_rifatto/XmlParser/nbproject/private/
/t_bot_rifatto/GestoreUrl/nbproject/private/
/t_bot_rifatto/Api/nbproject/private/
/t_bot_rifatto/XmlParser/dist/
/t_bot_rifatto/XmlParser/build/
/t_bot_rifatto/JsonParser/build/
/t_bot_rifatto/JsonParser/dist/
/t_bot_rifatto/GestoreUrl/build/
/t_bot_rifatto/GestoreUrl/dist/
/t_bot_rifatto/MainProject/nbproject/private/
/t_bot_rifatto/TelegramApi/nbproject/private/
/t_bot_rifatto/TelegramApi/build/
